extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7 
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus elementum mauris et turpis viverra interdum. Quisque tincidunt erat sed tempus laoreet. Fusce bibendum maximus mi, et ullamcorper tortor finibus vel. Nunc mollis aliquet tellus, vitae consequat sapien blandit vel. Duis metus mauris, sodales eget dui sed, blandit finibus arcu. Donec luctus viverra auctor.

                p Morbi ullamcorper dolor non sem tempus, non vehicula ante condimentum. Aliquam a velit hendrerit erat eleifend semper. Donec facilisis tincidunt dui quis hendrerit. Morbi nec viverra nisl. Donec pellentesque dui nec efficitur faucibus. Pellentesque id quam vestibulum, congue risus sit amet, commodo odio. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nullam luctus massa sem, ut interdum est placerat eget.

                p Nulla vitae fringilla justo, vitae eleifend massa. Suspendisse in leo lobortis, tristique felis at, congue metus. Vivamus id augue ut tellus iaculis facilisis. Integer ex leo, pulvinar non fringilla non, tincidunt non dolor. Praesent at diam aliquam, vestibulum sem at, commodo diam. Nulla a lectus facilisis nibh sodales semper. Maecenas tempus, magna in consequat ornare.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Vestibulum sem at, commodo diam. Nulla a lectus facilisis nibh sodales semper. Maecenas tempus, magna in consequat ornare.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Destinos
                    p Nullam luctus massa sem, ut interdum est placerat eget.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p vitae consequat sapien blandit vel. Duis metus mauris, sodales eget dui sed, blandit finibus arcu. Donec luctus viverra auctor.
